{% extends 'ZerebralFrontendBundle::layout.html.twig' %}

{% block content %}
    <div class="row-fluid profile">
        <div class="span7">
            <div class="row-fluid">
                <h2 class="span6 pull-left form-title">
                    Profile <small>edit</small>
                </h2>
            </div>
            <hr/>

            <form method="post" {{ form_enctype(form) }} novalidate  class="form-horizontal span8 create-form no-left-margin">
                {{ form_row(form.bio, {
                    label: 'Description',
                    form_type: 'horizontal',
                    attr: {
                        class: 'input-block-level',
                        rows: 6,
                        help: 'About you in <b>160</b> characters',
                    }
                }) }}

                {{ form_rest(form) }}

                <div class="form-actions">
                    <input type="submit" class="btn btn-danger" value="{% if form.vars.value.id is defined and form.vars.value.id > 0 %}Update{% else %}Create{% endif %}" />
                    <input type="reset" class="btn" value="Cancel" />
                </div>

            </form>
        </div>
    </div>
{% endblock %}