.attendance-block {
    .content {
        width: 1060px;
    }
    .attendance-table {
        width: 100%;
        margin-left: 0px;

        .table-date-filter;

        table.table {
            margin-top: 15px;
            a.attendance-comment-tooltip {
                margin-left: 5px;
                i {
                    vertical-align: top;
                }
            }
            th {
                background-color: @white;
            }
            th.name {
                width: 200px;
            }
            th.status {
                width: 95px;
                label {
                    font-weight: bold;
                }
                input {
                    margin: 0 3px 2px 0;
                    padding: 0;
                    vertical-align: middle;
                }
            }
            td.comment {
                text-align: left;
                input {
                    height: 13px;
                    font-size: 11px;
                    margin-bottom: 0px;
                    width: 355px;
                }
            }
        }
    }
    .no-record {
        p {
            text-align: center;
            margin: 13% 0;
        }
    }

    table {
        th.day {
            width: 80px;
        }
    }
}
.attendance-block.parent {
    hr {
        margin-bottom: 15px;
    }
    .attendance-table {
        .date-selector {
            margin-top: 10px;
        }
        .pick-date {
            margin-bottom: 20px;
        }
        table {
            margin-top: 0;
            th.name {

            }
            th.day {
                width: 70px;
                vertical-align: middle;
                text-align: center;
            }
            td.name {
                text-align: left;
            }

        }
    }
}