.edit-course, .edit-assignment, .profile {
    .form-horizontal {
        .control-group {
            label.control-label {
                width: @formControlLeftMargin;
            }
            .controls {
                margin-left: @formControlLeftMargin;
            }
        }

        .create-discipline {
            vertical-align: middle;
        }
    }
}
.top-second-navbar {
    margin-left: 100px;
    margin-top: 10px;
}

.members-list {
    display: block;
    max-width: 860px;
    .member {
        margin: 27px 20px;
        width: 240px;
        display: inline-block;
        .avatar {
            vertical-align: top;
            img {
                .rounded;
            }
        }
        .info {
            margin-top: 10px;
            margin-left: 17px;
            a, span {
                display: block;
            }
            a {
                color: #b74a47;
            }
            span {
                color: #c0c0c0;
            }
        }
        .mail {
            border: 1px solid #dddddd;
            width: 32px;
            height: 32px;
            display: block;
            float: right;

            a {
                display: block;
                height: 35px;
                line-height: 30px;
                text-align: center;
                vertical-align: middle;
            }
            &:hover {
                background-color: #f4f4f4;
            }
        }
        .avatar, .info, .mail {
            display: inline-block;
        }
    }

    .form-actions {
        .invite {
            margin-right: 35px;
        }
        b {
            font-size: 16px;
            color: #797979;
            margin-left: 25px;
            margin-right: 25px;
        }
        .reset {
            color: black;
        }
    }
}

.create-form {
    .course-name {
        font-size: 16px;
    }
}

.courses-list {
    .timetable {
        margin-left: -10px;
        color: #908e8e;
        font-size: 12px;
        padding: 4px 10px;
        margin-top: 5px;
        background: #fcfbeb;
        display: inline-block;
        .duration {
            display: inline-block;
            i { margin-right:10px; }
            color: #333333;
        }
        .time {
            margin-left: 0px;
            display: inline-block;
            vertical-align: bottom;
            ul {
                margin-left: 25px;
                margin-bottom: 0px;
                list-style: none outside none;
                li {
                    display: inline-block;
                    color: #333333;
                }
            }
        }
    }

    .right-navbar {
        width: 320px;
        .upcoming-assignments {
            margin-top: 35px;
            .assignment-label {
                display: inline-block;
                text-align: right;
                width: 90px;
                margin-right: 10px;
            }
            h4 {
                font-size: 12px;
                color: #808080;
                text-transform: uppercase;
                border-bottom: 1px solid #e9e9e9;
                margin-bottom: 10px;
                padding-bottom: 12px;
            }
            ul {
                list-style: none outside none;
                margin-left: 0px;
                li {
                    margin: 5px 0;
                    a {
                        color: #808080;
                    }
                    span.label {

                    }
                }
            }
        }
    }
}

.assignments-list {
    .grade {
        width: 120px;
        h4 {
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 8px;
        }
    }
    .due-at {
        i {
            vertical-align: top;
        }
        small {
            font-size: 12px;
            background: #fefeea;
            padding: 2px 6px;
        }
    }
    .items-list.teacher-role {
        .details {
            width: 100%;
        }
    }

    .details {
        padding-bottom: 15px;
    }

    .symbol {
        .count-badge {
            &.success {
                background: #468847;
            }
            &.warning {
                background: #f6b14f;
            }
        }
    }

    .right-navbar {
        width: 280px;
    }
}

.right-navbar {
    a.create-new-item {
        font-weight: normal;
        text-transform: uppercase;
        padding: 7px 10px;
        box-shadow: none;
        font-size: 12px;
    }
    a.create-course {
        background: #d84b35;
        color: white;
    }
    a.use-access-code {
        background: #e9e9e9;
        color: #444444;
    }
}

.course-members {
    max-width: 860px;
    .filter {
        margin-top: 25px;
        span {
            color:  #b7b7b7;
            margin-right: 10px;
        }
        a {
            color: #4c4c4c;
            margin: 0 5px;
        }
    }
}