.assignment-details-feed {
    .feed-comment-form {
        background-color: #f3f3f3;
        padding-bottom: 10px;
        form {
            margin: 0;
        }
        .feed-comment-textarea {
            background-image: none;
            resize: none;
            width: 621px;
            margin-top: 20px;
            margin-bottom: 10px;
            margin-left: 20px;
            margin-right: 20px;
            padding-left: 6px;
            padding-right: 6px;
            height: 120px;
        }
        .feed-comment-form-controls {
            padding-left: 20px;
            padding-right: 20px;
            .attach-links {
                height: 30px;
                display: inline-block;
                float: right;
                a.attach-links {
                    margin-top: 4px;
                    display: inline-block;
                }
            }
            .attached-link {
                display: none;
                .attached-link-delete {
                    float: right;
                    padding-top: 10px;
                }
                .attached-link-field {
                    width: 540px;
                }
            }
            .buttons {
                padding-bottom: 10px;
                .cancel-link {
                    top: 2px;
                    position: relative;
                }
            }
        }
    }
    .comments {
        .empty {
            text-align: center;
            color: #696969;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .comment {
            clear: both;
            min-height: 80px;
            border-bottom: 1px solid #f3f3f3;
            margin-top: 20px;
            .avatar {
                width: 70px;
                float: left;
            }
            .content {
                margin-left: 70px;
                .author {
                    font-weight: bold;
                    .gray {
                        margin-left: 6px;
                        font-weight: normal;
                        color: #bbbbbb;
                    }
                    .timestamp {
                        float: right;
                        font-size: 11px;
                        margin-right: 10px;
                    }
                    .delete-link {
                        display: none;
                        float: right;
                        font-size: 11px;
                        margin-right: 10px;
                    }
                }
                .text {
                }
                .by_author {
                    color: #c77371;
                }
            }
            &:hover {
                .content {
                    .is_author {
                        .timestamp {
                            display: none;
                        }
                        .delete-link {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.course-details-feed {
    .feed-item-form {
        padding-bottom: 0;
        .control-group {
            margin-bottom: 0;
        }
        .feed-item-textarea {
            resize: none;
            position: relative;
            width: 571px;
            height: 18px;
            padding-right: 96px;
            margin-bottom: 0px;
            background-image: url('/img/feed_comment_input_background.png');
            background-repeat: no-repeat;
            background-position: right;
            background-position-y: -2px;
        }
        .feed-item-form-controls {
            padding-left: 20px;
            padding-right: 20px;
            display: none;
            .attach-links {
                height: 30px;
                display: inline-block;
                float: right;
                a.attach-links {
                    margin-top: 4px;
                    display: inline-block;
                }
            }
            .attached-link {
                display: none;
                .control-group {
                    float: left;
                }
                .attached-link-delete {
                    float: right;
                    padding-top: 10px;
                }
                .attached-link-field {
                    width: 540px;
                }
            }
            .buttons {
                padding-bottom: 10px;
                .cancel-link {
                    top: 2px;
                    position: relative;
                }
            }
        }
    }
    .feed-items {
        .empty {
            text-align: center;
            color: #696969;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .feed-item {
            clear: both;
            min-height: 80px;
            border-bottom: 1px solid #f3f3f3;
            margin-top: 20px;

            .avatar {
                width: 70px;
                float: left;
            }
            .content {
                margin-bottom: 10px;
                &.is_author:hover {
                    .delete-link {
                        display: block;
                    }
                    .timestamp {
                        display: none;
                    }
                }
                .delete-link {
                    float: right;
                    margin-right: 10px;
                    font-size: 11px;
                    display: none;
                }
                .author {
                    font-weight: bold;
                    .gray {
                        color: #8c8c8c;
                        font-weight: normal;
                    }
                    a {
                        color: #333333;
                    }
                }
                .text {
                    color: #b74a47;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 1.5;
                    margin-left: 70px;
                    .link-content {
                        margin-top: 10px;
                        .thumbnail {
                            width: 95px;
                            height: 60px;
                            padding: 0;
                            float: left;
                            margin-right: 10px;
                            // margin-top: 4px;
                            img {
                                width: 95px;
                                height: 60px;
                            }
                        }
                        .info {
                            color: #333333;
                            font-weight: normal;
                            a {
                                font-weight: bold;
                                color: #333333;
                            }
                        }
                    }
                }
                .timestamp {
                    float: right;
                    font-size: 11px;
                    font-weight: normal;
                    margin-right: 10px;
                }
            }
            .comments-button {
                margin-left: 70px;
                margin-bottom: 10px;
                .attached-link {
                    display: inline;
                    margin-right: 10px;
                    a {
                        color: #656565;
                    }
                }
                a.show-comment-form-link {
                    color: #656565;
                }
            }
            .comments {
                margin-left: 70px;
                .load-more {
                    min-height: 0 !important;
                    height: 24px !important;
                    padding: 0 !important;
                    text-align: center;
                    .load-more-link {
                        position: relative;
                        top: 4px;
                        color: #656565;
                        font-size: 10px;
                    }
                    .icon-comment {
                        position: relative;
                        top: 5px;
                    }
                }
                .comment {
                    background-color: #F8F8F8;
                    margin-bottom: 5px;
                    padding: 10px;
                    min-height: 27px;


                    &.is_author:hover {
                        .timestamp {
                            display: none;
                        }
                        .delete-link {
                            display: block;
                        }
                    }

                    .avatar {
                        clear: both;
                        width: 27px;
                        margin-right: 10px;
                        float: left;
                    }
                    .content {
                        float: left;
                        margin-left: 0px;
                        max-width: 440px;
                        margin-bottom: 0;
                        .feed-item-comment-form {
                            margin: 0;
                        }
                        .comment-input {
                            margin-bottom: 0;
                            width: 520px;
                            resize: none;
                            height: 18px;
                        }
                        .buttons {
                            input {
                                display: block;
                                margin-top: 5px;
                                float: left;
                            }
                            a.cancel-link {
                                position: relative;
                                top: 11px;
                            }
                        }
                    }
                    .timestamp {
                        float:right;
                        font-size: 11px;
                        width: 100px;
                        text-align: right;
                    }
                    .delete-link {
                        display: none;
                        float: right;
                        font-size: 11px;
                    }
                }
            }
        }
    }
}

