.courses-list {
    .stat {
        width: 570px;
        .course-date {
            float: right;
        }
        .clear {
            clear: both;
        }
    }
    .count-line {
        margin:12px 12px 0;
    }
    .timetable {

    }
}


.summary-table {
    width: 100%;
    td {
        width: 50%;
    }
}

.stat-table {
    width: 100%;
    td.main {
        width: 50% !important;
    }
    tr {
        td.secondary {
            width: 25% !important;
            text-align: right;
        }
        &.header {
            td.secondary {
                text-align: center !important;
            }
        }
    }
}
