
div.right-navbar {
    margin-top: 58px;
    margin-left: 65px;
    width: 200px;
    display: inline-block;
    ul.nav {
        width: 80%;
        li {
            padding: 19px 0;
            margin: 5px 0;
            a {
                color: #898989;
                font-size: 16px;
                background: none;
                i {
                    margin-right: 12px;
                }
            }
            &.active {
                border-top: 1px solid #dddddd;
                border-bottom: 1px solid #dddddd;
                a {
                    color: #222222;
                }
                i.icon-new-user {
                    .icon-new-user-active();
                }
                i.icon-new-gears {
                    .icon-new-gears-active();
                }
                i.icon-new-mail {
                    .icon-new-mail-active();
                }
            }
        }
    }
}

.top-second-navbar {
    border: 1px solid #dadada;
    display: inline-block;
    ul {
        line-height: 20px;
        margin: 0;
        li {
            width: 90px;
            padding: 3px 0;
            text-align: center;
            border-left: 1px solid #dadada;
            list-style: none;
            float: left;
            background-color: #f4f4f4;
            &:first-child {
                border: none;
            }
            &.active {
                background-color: #e9e9e9;
            }
            a {
                text-shadow: 0 1px 0 rgba(255,255,255,.5);
                color: #4c4c4c;
                font-weight: bold;
                font-size: 11px;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}