.users-list {
    width: 100%;
    tr {
        height: 30px;
        &.header {
            font-weight: bold;
        }
        &.no-records {
            text-align: center;
            font-style: italic;
        }
        td.avatar {
            width: 30px;
        }
    }
}

.table-header {
    padding-bottom: 10px;
}
.table-footer {
  padding-top: 10px;
}

.pagination {
    float: right;
    display: block;

}

.filtering {
    float: left;
    span {
        font-weight: bold;
    }
    select {
        width: 120px;
    }
}


.search {
    float: left;
    padding-right: 10px;
    span {
        font-weight: bold;
    }
    input {
        width: 430px;
    }
    button {
        margin-bottom: 9px;
        height: 32px;
    }
}