{% extends 'ZerebralFrontendBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ assignment.name }}</h1>

    <p>#{{ assignment.id }}</p>

    <br><br>

    {% if is_granted('EDIT', assignment) %}
        <p><a href="{{ path('assignment_edit', {id: assignment.id, courseId: assignment.course.id}) }}">Edit</a></p>
    {% endif %}

    {% if is_granted('DELETE', assignment) %}
        <p><a href="{{ path('assignment_delete', {id: assignment.id}) }}">Delete</a></p>
    {% endif %}
{% endblock %}