.navbar-fixed-top{
    .navbar-inner{
        a.brand{
            color: @white;
        }
    }

    .carret{
        opacity: .75;
    }

    form{
        margin: 5px 0 0;
    }

    .brand{
        background: url(../img/logo.png) no-repeat 0 5px;
        width: 77px;
        height: 36px;
        padding: 0px 20px 0 0;
    }

    i.icon-bell{
        display: inline-block;
        margin-top: 10px;
        opacity: 1;
        margin-right: 20px;
        position: relative;

        small{
            position: absolute;
            top: -3px;
            right: 0px;
            background: @red;
            color: @white;
            padding: 0px 2px;
            line-height: 10px;
            text-align: center;
            font-size: 8px;
            .border-radius(1px);
        }
    }

    .navbar-search{
        .search-query{
            .border-radius(@inputBorderRadius);
        }
    }

    .nav.profile > li {
        float: right;
    }
}

.blue{
    .navbar-fixed-top{
        .navbar-inner{
            background: #4d789d;
            border-bottom-color: #446b8c;
        }
    }
}