.navbar-fixed-top{
    display:block;
    background-color:rgba(247,247,247,1);
    padding: 5px 20px 4px 30px;
    border-bottom:1px rgba(233,233,233,1) solid;
    position:fixed;
    top:0;left:0;right:0;
    z-index:401;
    box-shadow:inset 0px -1px 4px 0px rgba(0,0,0,0.05);

    .navbar-inner{
        display:block;
        clear:both;
        background: transparent;
        border: none;
        box-shadow: none;

        .nav .active > a {
            background: transparent;
            color: #777;
            box-shadow: none;
        }
    }

    i{
        margin-top:2px !important;
    }

    [class*="span"]{
        &:first-child{
            margin-left: 0;

            figure{
                margin-left: 0;
            }
        }
    }

    .carret{
        opacity: .75;
    }
}

.subHeadInner{
    h3{
        font-size:24px;
        font-family:"OpenSansLight";
        color:rgba(0,175,219,1);
        float:left;
        font-weight:lighter;
    }
}