.form-signin {
    width: 50%;
    max-width: 620px;
    min-width: 300px;
    padding: 29px 29px 39px;
    margin: 0 auto 20px;
    background-color: @white;
    border: 10px solid #49708f;

    input{
        width: 96%;
        padding: 18px 11px;
        font-size: 17px;
    }

    input[type=text], input[type=password]{
        &:focus{
            border: 2px solid #49708f;
            .box-shadow(none);
        }
        color: #2d2d2d;
    }

    label, input[type=submit]{
        width: 100%;
        font-size: 16px;
    }

    input[type=submit]{
        margin-top: 20px;
        background: #f9ce35;
        color: #987e3c;
        border: 1px solid #987e3c;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px;
    }

    label{
        color: #666;
        font-size: 15px;
        padding: 10px 0 13px 0;
    }

    a{
        color: #49708f;
    }
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.signin-container{
    h3{
        color: @white;
        font-weight: normal;
    }
}